<!DOCTYPE html>
<html lang="it-IT" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Foodwagon | Responsive, Ecommerce &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='img/favicons/apple-touch-icon.png')}}>
    <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='img/favicons/favicon-32x32.png')}}>
    <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='img/favicons/favicon-16x16.png')}}>
    <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='img/favicons/favicon.ico')}}>
    <link rel="manifest" href={{ url_for('static', filename='img/favicons/manifest.json')}}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <meta name="msapplication-TileImage" content="static/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href={{ url_for('static', filename='css/theme.css')}} rel="stylesheet" />

  </head>

  
  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block" src="static/img/gallery/logo.svg" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">foodwaGon</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
            
          </div>
        </div>
      </nav>
    <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-0">

            <div class="container">
              <div class="row h-100 gx-2 mt-7">
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                  <div class="card card-span h-100">
                    <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="static/img/gallery/discount-item-1.png" alt="..." />
                      <div class="card-actions">
                        <div class="badge badge-foodwagon bg-primary p-4">
                          <div class="d-flex flex-between-center">
                            <div class="text-white fs-7">15</div>
                            <div class="d-block text-white fs-2">% <br />
                              <div class="fw-normal fs-1 mt-2">Off</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body px-0">
                      <h5 class="fw-bold text-1000 text-truncate">Flat Hill Slingback</h5><span class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">6 days Remaining</span></span>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                  <div class="card card-span h-100">
                    <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="static/img/gallery/discount-item-2.png" alt="..." />
                      <div class="card-actions">
                        <div class="badge badge-foodwagon bg-primary p-4">
                          <div class="d-flex flex-between-center">
                            <div class="text-white fs-7">10</div>
                            <div class="d-block text-white fs-2">% <br />
                              <div class="fw-normal fs-1 mt-2">Off</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body px-0">
                      <h5 class="fw-bold text-1000 text-truncate">Ocean Blue Ring</h5><span class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">6 days Remaining</span></span>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                  <div class="card card-span h-100">
                    <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="static/img/gallery/discount-item-3.png" alt="..." />
                      <div class="card-actions">
                        <div class="badge badge-foodwagon bg-primary p-4">
                          <div class="d-flex flex-between-center">
                            <div class="text-white fs-7">25</div>
                            <div class="d-block text-white fs-2">% <br />
                              <div class="fw-normal fs-1 mt-2">Off</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body px-0">
                      <h5 class="fw-bold text-1000 text-truncate">Brown Leathered Wallet</h5><span class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">6 days Remaining</span></span>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                  <div class="card card-span h-100">
                    <div class="position-relative"> <img class="img-fluid rounded-3 w-100" src="static/img/gallery/discount-item-4.png" alt="..." />
                      <div class="card-actions">
                        <div class="badge badge-foodwagon bg-primary p-4">
                          <div class="d-flex flex-between-center">
                            <div class="text-white fs-7">20</div>
                            <div class="d-block text-white fs-2">% <br />
                              <div class="fw-normal fs-1 mt-2">Off</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body px-0">
                      <h5 class="fw-bold text-1000 text-truncate">Silverside Wristwatch</h5><span class="badge bg-soft-danger py-2 px-3"><span class="fs-1 text-danger">6 days Remaining</span></span>
                    </div><a class="stretched-link" href="#"></a>
                  </div>
                </div>
              </div>
            </div><!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->
        
        <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 pt-7 bg-1000">

        <div class="container">
          <div class="row flex-center pb-3">
            <div class="col-md-6 order-0">
              <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
            </div>
            <div class="col-md-6 order-1">
              <p class="text-200 text-center text-md-end"> Made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#FFB30E" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
              </p>
            </div>
          </div>
        </div><!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

    
    
    
        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="{{url_for('static', filename='vendors/@popperjs/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendors/bootstrap/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendors/is/is.min.js')}}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll')}}"></script>
        <script src="{{url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/theme.js')}}"></script>
    
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">
      </body>
    
    </html>